/* MEDIA */
/* COLORS */
@font-face {
  font-family: "Roboto";
  src: url("/page-promotion/fonts/roboto/Roboto-Bold.woff2") format("woff2"), url("/page-promotion/fonts/roboto/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("/page-promotion/fonts/roboto/Roboto-Light.woff2") format("woff2"), url("/page-promotion/fonts/roboto/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("/page-promotion/fonts/roboto/Roboto-Medium.woff2") format("woff2"), url("/page-promotion/fonts/roboto/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("/page-promotion/fonts/roboto/Roboto-Regular.woff2") format("woff2"), url("/page-promotion/fonts/roboto/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rosario";
  src: url("/page-promotion/fonts/rosario/Rosario-Bold.woff2") format("woff2"), url("/page-promotion/fonts/rosario/Rosario-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rosario";
  src: url("/page-promotion/fonts/rosario/Rosario-Light.woff2") format("woff2"), url("/page-promotion/fonts/rosario/Rosario-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rosario";
  src: url("/page-promotion/fonts/rosario/Rosario-Medium.woff2") format("woff2"), url("fonts/BebasNeue-Regular.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rosario";
  src: url("/page-promotion/fonts/rosario/Rosario-Regular.woff2") format("woff2"), url("/page-promotion/fonts/rosario/Rosario-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  box-sizing: border-box;
  outline: none !important;
}

body {
  max-width: 100%;
  padding: 0;
  margin: 0;
  font-family: "Roboto";
  overflow-x: hidden;
  background-color: #ffffff;
  color: #333333;
}

a {
  color: #333333;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
}
a:hover {
  color: #E11C4B;
}

.l-container {
  width: auto;
  max-width: 100%;
}
@media (max-width: 568px) {
  .l-container {
    width: 100%;
    margin: 0 auto;
  }
}

.header__container, .header__middle, .header__bottom {
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
}
@media (max-width: 1280px) {
  .header__container, .header__middle, .header__bottom {
    padding: 20px;
  }
}
@media (max-width: 860px) {
  .header__container, .header__middle, .header__bottom {
    padding: 0 10px;
  }
}
.header__top {
  border-bottom: 2px solid #E8E8E8;
  display: none;
}
@media (max-width: 1280px) {
  .header__top {
    padding: 20px;
  }
}
@media (min-width: 860px) {
  .header__top {
    display: block;
  }
}
@media (max-width: 860px) {
  .header__top {
    padding: 10px;
  }
}
.header__middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
@media (min-width: 568px) {
  .header__middle {
    gap: 15px;
  }
}
.header__bottom {
  overflow: hidden;
  width: 100%;
  position: relative;
}
@media (max-width: 860px) {
  .header__bottom {
    padding: 0 0 0 10px;
  }
}
.header__bottom .catalog-menu {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  position: relative;
}
.header__bottom .catalog-menu__slider {
  overflow: hidden;
  transition: transform 0.3s ease;
}
.header__bottom .catalog-menu__slider .owl-carousel .owl-stage {
  width: -moz-max-content !important;
  width: max-content !important;
}
.header__bottom .catalog-menu__root {
  padding: 0;
  margin: 10px 0;
  transition: transform 0.3s ease;
  position: relative;
}
.header__bottom .catalog-menu__root .owl-nav {
  display: flex;
  justify-content: space-between;
  position: relative;
}
@media (max-width: 860px) {
  .header__bottom .catalog-menu__root .owl-nav {
    display: none;
  }
}
.header__bottom .catalog-menu__root .owl-nav .owl-next, .header__bottom .catalog-menu__root .owl-nav .owl-prev {
  content: "";
  width: 18px;
  height: 18px;
  background-position: 0;
  background-repeat: no-repeat;
  background-image: url("/page-promotion/img/icons/next.svg");
  position: absolute;
  top: -17px;
  right: 0;
}
.header__bottom .catalog-menu__root .owl-nav span {
  font-size: 0;
}
.header__bottom .catalog-menu li {
  list-style: none;
  display: inline-block;
  width: auto;
  max-width: 174px;
}
.header__bottom .catalog-menu__item:first-child {
  background-position: 0;
  background-repeat: no-repeat;
  position: relative;
  background-image: url("/page-promotion/img/icons/percent.svg");
  padding-left: 24px;
}
.header__bottom .catalog-menu__item:first-child a {
  color: #E11C4B;
}
.header__bottom .catalog-menu a {
  transition: 0.3s;
  white-space: nowrap;
}
.header__container {
  display: flex;
  justify-content: space-between;
  padding: 0;
}
@media (min-width: 568px) {
  .header__container {
    padding: 10px 0 10px 20px;
  }
}
.header__container-contact {
  display: flex;
}
.header__container-contact a {
  margin: 0;
  position: relative;
  display: flex;
  align-items: center;
}
.header__container-contact a:first-child {
  margin-right: 50px;
}
.header__container-contact .contact-location::before, .header__container-contact .contact-shop::before {
  background-position: 0;
  background-repeat: no-repeat;
  position: absolute;
  transition: 0.3s;
  content: "";
  width: 24px;
  height: 24px;
}
.header__container-contact .contact-location::before {
  background-image: url("/page-promotion/img/icons/location.svg");
  margin-left: -18px;
}
.header__container-contact .contact-location::before:hover::before {
  background-image: url("/page-promotion/img/icons/location-hover.svg");
}
.header__container-contact .contact-shop::before {
  background-image: url("/page-promotion/img/icons/shop.svg");
  margin-left: -24px;
}
.header__container-contact .contact-shop::before:hover::before {
  background-image: url("/page-promotion/img/icons/shop-hover.svg");
}
.header-logo {
  padding: 25px 40px 25px 0;
}
.header-search {
  width: 100%;
  max-width: 643px;
  position: relative;
  display: none;
}
@media (min-width: 568px) {
  .header-search {
    display: block;
  }
}
.header-search__btn {
  display: block;
  position: absolute;
  top: 10px;
  left: 18px;
  width: 26px;
  height: 26px;
  border: none;
  background: url("/page-promotion/img/icons/search-hover.svg") center center no-repeat;
  cursor: pointer;
}
.header-search input {
  width: 100%;
  padding: 11px 11px 11px 52px;
  height: 46px;
  font-size: 16px;
  line-height: 24px;
  box-sizing: border-box;
  border-radius: 100px;
  border: 2px solid #DDDDDD;
  color: #8D8D8D;
  outline: none !important;
  transition: background-color 0.4s ease;
}
.header-search input:focus {
  background-color: #eee;
}
.header-cart {
  display: flex;
  align-items: center;
}
.header-cart .cart-item {
  position: relative;
  margin: 0 13px;
  cursor: pointer;
  z-index: 1;
  transition: 0.3s;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
@media (min-width: 568px) {
  .header-cart .cart-item {
    flex-direction: column;
  }
}
.header-cart .cart-item::before {
  width: 24px;
  height: 24px;
  background-position: 0;
  background-repeat: no-repeat;
  content: "";
  position: relative;
  background-size: contain;
}
@media (min-width: 860px) {
  .header-cart .cart-item::before {
    width: 19px;
    height: 18px;
  }
}
.header-cart .cart-item__profile {
  display: none;
}
@media (min-width: 568px) {
  .header-cart .cart-item__profile {
    display: flex;
  }
}
.header-cart .cart-item__profile::before {
  background-image: url("/page-promotion/img/icons/account.svg");
}
.header-cart .cart-item__profile:hover::before {
  background-image: url("/page-promotion/img/icons/account-hover.svg");
}
@media (max-width: 568px) {
  .header-cart .cart-item__orders {
    margin: 0 24px 0 0;
  }
}
.header-cart .cart-item__orders::before {
  background-image: url("/page-promotion/img/icons/purchases.svg");
}
.header-cart .cart-item__orders:hover::before {
  background-image: url("/page-promotion/img/icons/purchases-hover.svg");
}
.header-cart .cart-item__favourites {
  display: none;
}
@media (min-width: 568px) {
  .header-cart .cart-item__favourites {
    display: flex;
  }
}
.header-cart .cart-item__favourites::before {
  background-image: url("/page-promotion/img/icons/favorite.svg");
}
.header-cart .cart-item__favourites:hover::before {
  background-image: url("/page-promotion/img/icons/favorite-hover.svg");
}
.header-cart .cart-item__basket {
  display: none;
}
@media (min-width: 568px) {
  .header-cart .cart-item__basket {
    display: flex;
  }
}
.header-cart .cart-item__basket::before {
  background-image: url("/page-promotion/img/icons/cart.svg");
}
.header-cart .cart-item__basket:hover::before {
  background-image: url("/page-promotion/img/icons/cart-hover.svg");
}
.header-cart .cart-item__btn {
  color: #333333;
  font-size: 0;
  text-decoration: none;
  transition: 0.3s all ease;
}
@media (min-width: 860px) {
  .header-cart .cart-item__btn {
    font-size: 16px;
  }
}
.header-cart .cart-item__btn::after {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
}
.header-cart .cart-item__btn:hover {
  color: #E11C4B;
}
.header-cart .-mobile {
  display: flex;
}
@media (min-width: 568px) {
  .header-cart .-mobile {
    display: none;
  }
}
.header-cart .-mobile a {
  font-size: 0;
  padding: 0 24px;
}
.header-cart .-mobile .contact-location::before, .header-cart .-mobile .contact-shop::before {
  background-size: contain;
}
.header-cart .-mobile .contact-location {
  order: 2;
  margin: 0;
}
.header-cart .-mobile .contact-shop {
  order: 0;
}
.header .mobile-menu {
  display: flex;
  align-items: center;
  padding: 0 0 5px 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 1;
}
.header .mobile-menu.open {
  opacity: 1;
}
.header .mobile-menu__catalog {
  background-color: #fff;
  width: 100%;
  max-width: 560px;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  z-index: 10;
}
.header .mobile-menu__catalog.open {
  transform: translateX(0);
}
.header .mobile-menu__header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  position: relative;
  margin: 15px 10px 0 0;
}
.header .mobile-menu__close {
  background: none;
  border: none;
  cursor: pointer;
  width: 18px;
  height: 18px;
  background-image: url("/page-promotion/img/icons/close.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  transition: 0.3s;
  top: 0;
  right: 0;
}
.header .mobile-menu__close:hover, .header .mobile-menu__close:active, .header .mobile-menu__close:focus {
  background-image: url("/page-promotion/img/icons/close-hover.svg");
}
.header .mobile-menu__title {
  padding: 10px;
}
.header .mobile-menu__title-btn {
  font-size: 24px;
  font-weight: bold;
}
.header .mobile-menu .catalog-menu__root {
  padding: 0;
}
.header .mobile-menu .catalog-menu__root li {
  border-bottom: 2px solid #E8E8E8;
  list-style: none;
  padding: 10px;
  position: relative;
  width: 100%;
}
.header .mobile-menu .catalog-menu__root li::before {
  content: "";
  width: 32px;
  height: 32px;
  position: absolute;
  top: 5px;
  left: 10px;
  background-position: 0;
  background-repeat: no-repeat;
}
.header .mobile-menu .catalog-menu__root li:first-child::before {
  background-image: url("/page-promotion/img/catalog/laptop.svg");
}
.header .mobile-menu .catalog-menu__root li:nth-child(2)::before {
  background-image: url("/page-promotion/img/catalog/phone.svg");
}
.header .mobile-menu .catalog-menu__root li:nth-child(3)::before {
  background-image: url("/page-promotion/img/catalog/tv.svg");
}
.header .mobile-menu .catalog-menu__root li:nth-child(4)::before {
  background-image: url("/page-promotion/img/catalog/photo-viseo.svg");
}
.header .mobile-menu .catalog-menu__root li:nth-child(5)::before {
  background-image: url("/page-promotion/img/catalog/table.svg");
}
.header .mobile-menu .catalog-menu__root li:nth-child(6)::before {
  background-image: url("/page-promotion/img/catalog/headset.svg");
}
.header .mobile-menu .catalog-menu__root li:nth-child(7)::before {
  background-image: url("/page-promotion/img/catalog/gaming.svg");
}
.header .mobile-menu .catalog-menu__root li:nth-child(8)::before {
  background-image: url("/page-promotion/img/catalog/watch.svg");
}
.header .mobile-menu .catalog-menu__root li:nth-child(9)::before {
  background-image: url("/page-promotion/img/catalog/column.svg");
}
.header .mobile-menu .catalog-menu__root li:nth-child(10)::before {
  background-image: url("/page-promotion/img/catalog/router.svg");
}
.header .mobile-menu .catalog-menu__root li:nth-child(11)::before {
  background-image: url("/page-promotion/img/catalog/printer.svg");
}
.header .mobile-menu .catalog-menu__root li:last-child {
  border-bottom: none;
}
.header .mobile-menu .catalog-menu__root li:last-child::before {
  background-image: url("/page-promotion/img/catalog/smart-home.svg");
}
.header .mobile-menu .catalog-menu__root li a {
  padding: 0 0 0 40px;
}
.header .mobile-menu .catalog-menu__root li a::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}
.header .mobile-menu .catalog-menu__root li a::after {
  content: "";
  width: 8px;
  height: 15px;
  position: absolute;
  top: 13px;
  right: 10px;
  background-position: 0;
  background-repeat: no-repeat;
  background: url("/page-promotion/img/icons/next-btn.svg");
}
.header .mobile-menu .catalog-menu__root li a:hover::after {
  background-image: url("/page-promotion/img/icons/next-btn-hover.svg");
}
@media (min-width: 860px) {
  .header .mobile-menu {
    padding: 20px;
  }
}
@media (min-width: 568px) {
  .header .mobile-menu {
    display: none;
  }
}
@media (max-width: 860px) {
  .header .mobile-menu {
    padding: 10px;
  }
}
.header .mobile-menu .menu-burger {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  cursor: pointer;
  transition: 0.3s all ease;
}
.header .mobile-menu .menu-burger-item {
  width: 24px;
  height: 2px;
  margin-bottom: 7.5px;
  background-color: #8D8D8D;
  transition: inherit;
}
.header .mobile-menu .menu-burger-item:last-child {
  margin-bottom: 0;
}
.header .mobile-menu .header-search {
  display: block;
}
.header .mobile-menu .header-search input {
  height: 38px;
  font-size: 14px;
  padding: 11px 11px 11px 40px;
}
.header .mobile-menu .header-search__btn {
  width: 18px;
  height: 18px;
  background-size: contain;
}
.header .mobile-menu nav {
  display: none;
}
.header .mobile-menu nav.open {
  display: block;
}
.header .mobile-menu.active {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.contact-link {
  position: relative;
  transition: 0.3s;
  background-position: 0;
  background-repeat: no-repeat;
}

.-phone {
  background-image: url("/page-promotion/img/icons/phone.svg");
  padding-left: 24px;
}
.-phone:hover {
  background-image: url("/page-promotion/img/icons/phone-hover.svg");
}

.-email {
  background-image: url("/page-promotion/img/icons/mail.svg");
  padding-left: 30px;
}
.-email:hover {
  background-image: url("/page-promotion/img/icons/mail-hover.svg");
}

.main {
  margin-top: 25px;
}
@media (min-width: 980px) {
  .main {
    margin-top: 40px;
  }
}

.promo__content {
  width: auto;
  max-width: 100%;
  margin: 0 10px;
}
@media (min-width: 980px) {
  .promo__content {
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
  }
}
.promo__title {
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 38px;
}
@media (min-width: 980px) {
  .promo__title {
    font-size: 36px;
    margin: 0 0 25px;
  }
}
.promo-list__link:hover {
  color: #333333;
}
.promo-list__description {
  z-index: 100;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  top: 50px;
  left: 50px;
}
.promo-list__description .stocks-title {
  font-size: 21px;
  font-weight: bold;
}
.promo-list__description span {
  font-size: 11px;
  margin: 0;
}
.promo-list img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  -o-object-fit: none;
     object-fit: none;
}

.l-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: -20px;
  margin-right: -20px;
  padding: 0;
}
@media (max-width: 568px) {
  .l-row {
    margin-left: -15px;
  }
}

.l-col-xs-6 {
  position: relative;
  margin-bottom: 30px;
  min-height: 206px;
  padding: 20px;
  width: 33.33333%;
  filter: drop-shadow(0px 6px 15px rgba(32, 32, 32, 0.1));
  display: flex;
  flex-direction: column;
  transition: 0.3s;
}
@media (min-width: 820px) {
  .l-col-xs-6 > * {
    margin-left: 15px;
    margin-right: 15px;
  }
}
@media (max-width: 1024px) {
  .l-col-xs-6 {
    width: 50%;
  }
}
@media (max-width: 568px) {
  .l-col-xs-6 {
    width: 100%;
  }
}
.l-col-xs-6:first-child span, .l-col-xs-6:nth-child(2) span, .l-col-xs-6:nth-child(3) span, .l-col-xs-6:nth-child(4) span, .l-col-xs-6:nth-child(7) span {
  color: #ffffff;
}
.l-col-xs-6:nth-child(8) span, .l-col-xs-6:last-child span {
  color: #E11C4B;
}
.l-col-xs-6:nth-child(2) .promo-list__description, .l-col-xs-6:nth-child(4) .promo-list__description, .l-col-xs-6:nth-child(5) .promo-list__description, .l-col-xs-6:nth-child(7) .promo-list__description, .l-col-xs-6:nth-child(8) .promo-list__description, .l-col-xs-6:last-child .promo-list__description {
  top: 70px;
}
.l-col-xs-6:nth-child(3) .promo-list__description {
  top: 25px;
  left: 85px;
}
.l-col-xs-6:last-child .promo-list__description {
  left: 120px;
}
.l-col-xs-6:hover {
  transform: scale(1.05);
}

.footer {
  margin: 45px 0px;
  background-color: #F4F4F4;
}
@media (min-width: 860px) {
  .footer {
    margin: 90px 0 40px;
    padding: 40px 0;
  }
}
@media (max-width: 1280px) {
  .footer {
    padding: 20px;
  }
}
@media (max-width: 860px) {
  .footer {
    padding: 25px 10px;
  }
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
}
.footer__container-col {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (min-width: 860px) {
  .footer__container-col {
    gap: 50px;
  }
}
.footer__container-col:last-child {
  align-items: end;
  display: none;
}
@media (min-width: 568px) {
  .footer__container-col:last-child {
    display: flex;
  }
}
.footer__container-col .-mobile {
  display: flex;
}
@media (min-width: 860px) {
  .footer__container-col .-mobile {
    display: none;
  }
}
.footer-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 24px;
}
@media (min-width: 860px) {
  .footer-nav {
    gap: 62px;
  }
}
.footer-contact {
  gap: 25px;
  display: none;
}
@media (min-width: 860px) {
  .footer-contact {
    display: flex;
    gap: 50px;
  }
}
@media (max-width: 568px) {
  .footer-contact {
    flex-direction: column;
    gap: 15px;
  }
}
.footer-contact:last-child {
  display: block;
}
@media (min-width: 568px) {
  .footer-contact:last-child {
    display: none;
  }
}
@media (max-width: 568px) {
  .footer-info-data {
    margin-top: 30px;
  }
}
.footer-info-data p {
  color: #8D8D8D;
  font-size: 14px;
  margin: 0;
}
.footer-social {
  display: none;
}
@media (min-width: 568px) {
  .footer-social {
    display: flex;
  }
}
.footer-social .social-link {
  font-size: 0;
  margin-right: 40px;
}
@media (min-width: 568px) {
  .footer-social .social-link {
    margin-right: 50px;
  }
}
.footer-social .social-link::before {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  transition: 0.3s;
  background-position: 0;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 568px) {
  .footer-social .social-link::before {
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 860px) {
  .footer-social .social-link:last-child {
    margin-right: 75px;
  }
}
@media (max-width: 568px) {
  .footer-social .social-link:last-child {
    margin: 0;
  }
}
.footer-social .-vk::before {
  background-image: url("/page-promotion/img/icons/vk.svg");
}
.footer-social .-vk:hover::before {
  background-image: url("/page-promotion/img/icons/vk-hover.svg");
}
.footer-social .-youtube::before {
  background-image: url("/page-promotion/img/icons/youtube.svg");
}
.footer-social .-youtube:hover::before {
  background-image: url("/page-promotion/img/icons/youtube-hover.svg");
}
.footer-social .-telegram::before {
  background-image: url("/page-promotion/img/icons/telegram.svg");
}
.footer-social .-telegram:hover::before {
  background-image: url("/page-promotion/img/icons/telegram-hover.svg");
}
.footer-list .footer-contact {
  display: flex;
}
@media (min-width: 860px) {
  .footer-list .footer-contact {
    display: none;
  }
}
.footer-list .footer-social {
  display: flex;
  margin-top: 15px;
}
@media (min-width: 568px) {
  .footer-list .footer-social {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */