/* MEDIA */
$mobile: 980px;
$xxs: 375px; //iphone X в портретной ориентации
$xs: 414px; //iphone plus в портретной ориентации
$sm: 568px; //iphone X в альбомной ориентации
$md: 860px; //планшеты в портретной ориентации / телефоны в альбомной
$lg: 1024px; //планшеты в альбомной ориентации
$xl: 1280px; //ноутбуки
$xxl: 1600px; 

/* COLORS */
$body-background:#ffffff;
$body-background-invert:#F4F4F4;
$color-text: #333333;
$color-hover:#E11C4B;

$content-gap: 40px;

@font-face {
    font-family: 'Roboto';
    src: url('/page-promotion/fonts/roboto/Roboto-Bold.woff2') format('woff2'), url('/page-promotion/fonts/roboto/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto';
    src: url('/page-promotion/fonts/roboto/Roboto-Light.woff2') format('woff2'), url('/page-promotion/fonts/roboto/Roboto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto';
    src: url('/page-promotion/fonts/roboto/Roboto-Medium.woff2') format('woff2'), url('/page-promotion/fonts/roboto/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto';
    src: url('/page-promotion/fonts/roboto/Roboto-Regular.woff2') format('woff2'), url('/page-promotion/fonts/roboto/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rosario';
    src: url('/page-promotion/fonts/rosario/Rosario-Bold.woff2') format('woff2'), url('/page-promotion/fonts/rosario/Rosario-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Rosario';
    src: url('/page-promotion/fonts/rosario/Rosario-Light.woff2') format('woff2'), url('/page-promotion/fonts/rosario/Rosario-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Rosario';
    src: url('/page-promotion/fonts/rosario/Rosario-Medium.woff2') format('woff2'), url('fonts/BebasNeue-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Rosario';
    src: url('/page-promotion/fonts/rosario/Rosario-Regular.woff2') format('woff2'), url('/page-promotion/fonts/rosario/Rosario-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
    outline: none !important;
}

body {
    max-width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
    overflow-x: hidden;
    background-color: $body-background;
    color: $color-text;

    @media (max-width:$lg){
    }
}

a {
    color: $color-text;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        color: $color-hover;
    }
}

.l-container {
    width: auto;
    max-width: 100%;

    @media (max-width:$sm){
        width: 100%;
        margin: 0 auto;
    }
}

.header {

    &__container, &__middle, &__bottom {
        width: 100%;
        max-width: 1150px;
        margin: 0 auto;

        @media (min-width:$md) {
            padding: 20px;
        }
        @media (max-width:$md) {
            padding: 0 10px;
        }
    }

    &__top {
        border-bottom:2px solid #E8E8E8;
        display: none;

        @media (min-width:$md) {
            display: block;
            padding: 20px;
        }

        @media (max-width:$md) {
            padding: 10px;
        }
    } 

    &__middle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0;

        @media (min-width:$sm) {
            gap: 15px;
        }
    } 

    &__bottom {
        overflow: hidden; 
        width: 100%;
        position: relative;
        @media (max-width:$md){
            padding: 0 0 0 10px;
        }

        .catalog-menu {
            overflow: hidden; 
            white-space: nowrap;
            width: 100%;
            position: relative;

            &__slider {
                overflow: hidden; 
                transition: transform 0.3s ease;

                .owl-carousel {
                    .owl-stage {
                        width: max-content !important; 
                    }
                }
            }
            
            &__root {
                padding: 0;
                margin: 10px 0;
                transition: transform 0.3s ease;
                position: relative;

                .owl-nav {
                    display: flex;
                    justify-content: space-between;
                    position: relative;
                    @media (max-width:$md) {
                        display: none;
                    }

                    .owl-next,.owl-prev {
                        content: '';
                        width: 18px;
                        height: 18px;
                        background-position: 0;
                        background-repeat: no-repeat;
                        background-image: url('/page-promotion/img/icons/next.svg');
                        position: absolute;
                        top: -17px;
                        right: 0;
                    }

                    span {
                        font-size: 0;
                    }
                }
            }

            li {
                list-style: none;
                display: inline-block;
                width: auto;
                max-width: 174px;

            }

            &__item:first-child {
                background-position: 0;
                background-repeat: no-repeat;
                position: relative;
                background-image: url('/page-promotion/img/icons/percent.svg');
                padding-left: 24px;

                a {
                    color: $color-hover;
                }
            }

            a { 
                transition: 0.3s;
                white-space: nowrap;
            }
        }
    }

    &__container {
        display: flex;
        justify-content: space-between;
        padding: 0;

        @media (min-width:$sm) {
            padding: 10px 0 10px 20px;
        }

        &-contact {
            display: flex;

            a {
                margin: 0;
                position: relative;
                display: flex;
                align-items: center;

                &:first-child {
                    margin-right: 50px;
                }
            }
            .contact-location::before, .contact-shop::before {
                background-position: 0;
                background-repeat: no-repeat;
                position: absolute;
                transition: 0.3s;
                content: '';
                width: 24px;
                height: 24px;
            }

            .contact-location::before {
                background-image: url('/page-promotion/img/icons/location.svg');
                margin-left: -18px;

                &:hover::before {
                    background-image: url('/page-promotion/img/icons/location-hover.svg');
                }
            }
            .contact-shop::before {
                background-image: url('/page-promotion/img/icons/shop.svg');
                margin-left: -24px;

                &:hover::before {
                    background-image: url('/page-promotion/img/icons/shop-hover.svg');
                }
            }
        }
    }

    &-logo {
        padding: 25px 40px 25px 0;
    }

    &-search {
        width: 100%;
        max-width: 643px;
        position: relative;
        display: none;
            @media (min-width:$sm) {
                display: block;
            }

        
        &__btn {
            display: block;
            position: absolute;
            top: 10px;
            left: 18px;
            width: 26px;
            height: 26px;
            border: none;
            background: url('/page-promotion/img/icons/search-hover.svg') center center no-repeat;
            cursor: pointer;
        }

        form {   
        }

        input {
            width: 100%;
            padding: 11px 11px 11px 52px;
            height: 46px;
            font-size: 16px;
            line-height: 24px;
            box-sizing: border-box;
            border-radius: 100px;
            border: 2px solid #DDDDDD;
            color: #8D8D8D;
            outline: none !important;
            transition: background-color .4s ease;

            &:focus {
                background-color: #eee;
            }
        }
        
    }

    &-cart {
        display: flex;
        align-items: center;

        .cart-item {
            position: relative;
            margin: 0 13px;
            cursor: pointer;
            z-index: 1;
            transition: .3s;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 5px;

            @media (min-width:$sm) {
                flex-direction: column;
            }
            
            &::before {
                width: 24px;
                height: 24px;
                background-position: 0;
                background-repeat: no-repeat;
                content: '';
                position: relative;
                background-size: contain;

                @media (min-width:$md) {
                    width: 19px;
                    height: 18px;
                }
            }

            &__profile{
                display: none;
                @media (min-width:$sm) {
                    display: flex;
                }
                &::before {
                    background-image: url('/page-promotion/img/icons/account.svg');
                }

                &:hover::before {
                    background-image: url('/page-promotion/img/icons/account-hover.svg');
                }

            }
            &__orders {
                
                @media (max-width:$sm){
                    margin: 0 24px 0 0;
                }

                &::before {
                    background-image: url('/page-promotion/img/icons/purchases.svg');
                }

                &:hover::before {
                    background-image: url('/page-promotion/img/icons/purchases-hover.svg');
                }

            }
            &__favourites {
                display: none;
                @media (min-width:$sm) {
                    display: flex;
                }
                &::before {
                    background-image: url('/page-promotion/img/icons/favorite.svg');
                }
                &:hover::before {
                    background-image: url('/page-promotion/img/icons/favorite-hover.svg');
                } 

            }
            &__basket {
                display: none;
                @media (min-width:$sm) {
                    display: flex;
                }
                &::before {
                    background-image: url('/page-promotion/img/icons/cart.svg');
                }

                &:hover::before {
                    background-image: url('/page-promotion/img/icons/cart-hover.svg');
                } 
            }

            &__btn {
                color: $color-text;
                font-size: 0;
                text-decoration: none;
                transition: 0.3s all ease;

                @media (min-width:$md) {
                    font-size: 16px;
                }

                &::after {
                    width: 100%;
                    height: 100%;
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                }

                &:hover {
                    color: $color-hover;
                }
            }
        }

        .-mobile {
            display: flex;
                @media (min-width:$sm) {
                    display: none;
                }
            a {
              font-size: 0;  
              padding: 0 24px;
            }

            .contact-location::before, .contact-shop::before {
                background-size: contain;
            }

            .contact-location {
                order: 2;
                margin: 0;
            }

            .contact-shop {
                order: 0;
            }
        }
    }

    .mobile-menu {
        display: flex;
        align-items: center;
        padding: 0 0 5px 0;
            @media (min-width:$md) {
                padding: 20px;
            }
            @media (min-width:$sm) {
                display: none;
            }
            @media (max-width:$md) {
                padding: 10px;
            }
        .menu-burger {
            display: flex;
            flex-direction: column;
            margin-right: 20px;
            cursor: pointer;
            transition: .3s all ease;

            &-item {
                width: 24px;
                height: 2px;
                margin-bottom: 7.5px;
                background-color: #8D8D8D;
                transition: inherit;

                &:last-child {
                    margin-bottom: 0;
                }

            }
        }

        .header-search {
            display: block;

            input {
                height: 38px;
                font-size: 14px;
                padding: 11px 11px 11px 40px;
            }

            &__btn {
                width: 18px;
                height: 18px;
                background-size: contain;
            }
        }

        nav {
            display: none;
            &.open {
                display: block;
            }
        }
        
        &.active {
            
        }   
    }
}

.contact-link {
    position: relative;
    transition: 0.3s;
    background-position: 0;
    background-repeat: no-repeat;
}
.-phone {
    background-image: url('/page-promotion/img/icons/phone.svg');
    padding-left: 24px;
    &:hover {
        background-image: url('/page-promotion/img/icons/phone-hover.svg');
    }
}
.-email {
    background-image: url('/page-promotion/img/icons/mail.svg');
    padding-left: 30px;
    &:hover {
        background-image: url('/page-promotion/img/icons/mail-hover.svg');
    }

}
.footer {
    margin: 45px 0px;
    padding: 25px 0;
    background-color: $body-background-invert;
    @media (min-width:$md) {
        margin: 90px 0 40px;
        padding: 40px 0;
    }
    
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        max-width: 1150px;
        margin: 0 auto;
        @media (max-width:$md) {
            margin: 0 15px;
        }
        @media (max-width:$sm) {
            margin: 0 10px;
        }
        

        &-col {
            display: flex;
            flex-direction: column;
            gap: 20px;

            @media (min-width:$md) {
                gap: 50px;
            }

            &:last-child {
                align-items: end;
                display: none;
                @media (min-width:$sm) {
                    display: flex;
                }
            }

            .-mobile {
                display: flex;
                @media (min-width:$md) {
                    display: none;
                }
            }
        }
    }

    &-nav {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        gap: 24px;
        @media (min-width:$md) {
            gap: 62px; 
        }

    }

    &-contact {
        gap: 25px;
        display: none;

        @media (min-width:$md) {
            display: flex;
            gap: 50px;
        }
        @media (max-width:$sm) {
            flex-direction: column;
            gap: 15px;
        }
        &:last-child {
            display: block;
            @media (min-width:$sm) {
                display: none;
            }
        }
        

    }

    &-info-data {
        @media (max-width:$sm) {
            margin-top: 30px;
        }
        
        p {
            color: #8D8D8D;
            font-size: 14px;
            margin: 0;
        }
    }

    &-social {
        display: none;
        @media (min-width:$sm) {
            display: flex;
        }
        .social-link {
            font-size: 0;
            margin-right: 40px;
            @media (min-width:$sm) {
                margin-right: 50px;
            }
            &::before {
                content: '';
                width: 30px;
                height: 30px;
                position: absolute;
                transition: 0.3s;
                background-position: 0;
                background-repeat: no-repeat;
                background-size: cover;

                @media (min-width:$sm) {
                    width: 40px;
                    height: 40px;
                }
            }
            &:last-child {
                @media (max-width:$md) {
                    margin-right: 75px;
                }
                @media (max-width:$sm) {
                    margin: 0;
                }
            }
        }

        .-vk {
            &::before {
                background-image: url('/page-promotion/img/icons/vk.svg');
            }
    
            &:hover::before {
                    background-image: url('/page-promotion/img/icons/vk-hover.svg');
            }
        }

        .-youtube {
            &::before {
                background-image: url('/page-promotion/img/icons/youtube.svg');
            }
            &:hover::before {
                background-image: url('/page-promotion/img/icons/youtube-hover.svg');
            }
        }

        .-telegram {
            &::before {
                background-image: url('/page-promotion/img/icons/telegram.svg');
            }
    
            &:hover::before {
                background-image: url('/page-promotion/img/icons/telegram-hover.svg');
            }

        }
    }
    &-list {
        .footer-contact {
            display: flex;
            @media (min-width:$md) {
                display: none;
            }
        }
        .footer-social {
            display: flex;
            margin-top: 15px;
            @media (min-width:$sm) {
                display: none;
            }
        }
    }
}